<div class="container">
    <div class="row">
        <div class="col-lg text-center">
            <div class="card-body">

                <form>
                    <div class="form-group">
                      <label for="nome">Nome do Cliente</label>
                      <input type="text" class="form-control" id="nome"  ng-model="vm.cliente.nome" placeholder="Nome do Cliente">
                    </div>
                    <div class="form-group">
                      <label for="rg">RG:</label>
                      <input type="text" class="form-control" id="rg" ng-model="vm.cliente.rg" placeholder="Coloque seu RG">
                   <h1>{{vm.cliente.id}}</h1>
                    </div>
                  </form>

                <button type="button" class="btn btn-primary" ng-click="vm.cadastrar()">{{vm.textoButao}}</button>
                <button type="button" class="btn btn-secondary" ng-click="vm.limpar()">Limpar</button>
            </div>
        </div>

    </div>
</div>